header{
    z-index: 1;
}

img {
    height: 200px;
    width: 200px;
}

#results{
    width: 60%;
    margin: 1% auto 0;
}

h1{
    color: #73ba9b;
    font-family: 'Kurale', serif;
}

.nav-shadow{
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.card{
    box-shadow: 0 6px 6px rgba(0,0,0,0.05);
}

.card-text{
    color: #383D3B;
}

#search{
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
}

#search-bar{
    width: 30%;
}

#submit{
    background-color: #73ba9b;
    color: white;
}

#submit:hover{
    background-color: darkgreen;   
}